body {
    margin:0;
    padding:0;
    background-color:darkgray;
    box-sizing: border-box;
}

body::after {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    height: 0;
    width: 0;
    content: url("/public/images/heart.png")
            url("/public/images/heart_broken.png");
}

#root {
    position: relative;
}

#ui {
    position: absolute;

}

#statContainer {
    width: 100%;
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

#healthContainer {
    display: flex;
    gap: 5px;

    img {
        max-width: 64px;
        max-height: 64px;
    }
}

#expContainer {
    background-color: rgba(100, 100, 100, 35%);
    width: 400px;
    height: 10px;
    border: solid black 2px;
    border-radius: 3px;
}

#expBar {
    background-color: greenyellow;
    width: 0;
    height: 100%;
}

#healthAndAmmoContainer {
    display: flex;
    flex-direction: column;
}

#ammoContainer {
    display: flex;
    gap: 5px;
}

.heart {
    content: url("/public/images/heart.png");
}

.broken {
    content: url("/public/images/heart_broken.png");
}

